# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
dist-esm
dist-cjs
build
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local

# Testing
coverage
.nyc_output

# Misc
.turbo
.vercel

# Package manager
package-lock.json
yarn.lock

